################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackVmCompiler/obj
/HackVmCompiler/HackVmCompilerRunner/obj
/HackVmCompiler/HackVmCompilerRunner/bin
/HackVmCompiler/HackVmCompiler/obj
/HackVmCompiler/HackVmCompiler/bin
/HackVmCompiler/.vs