################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackVmCompiler/obj
/HackVmCompiler/HackVmCompilerRunner/obj
/HackVmCompiler/HackVmCompilerRunner/bin
/HackVmCompiler/HackVmCompiler/obj
/HackVmCompiler/HackVmCompiler/bin
/HackVmCompiler/.vs
/HackVmCompiler/HackCPUMock/bin/Debug/netcoreapp3.1
/HackVmCompiler/HackCPUMock/obj
/HackVmCompiler/HackVmCompilerTests/obj
/HackVmCompiler/HackVmCompilerTests/bin/Debug/net5.0
/JackCompiler/.vs/JackCompiler
/JackCompiler/obj
/JackCompiler/JackCompilationEngine
/JackCompiler/bin/Debug/netcoreapp3.1
